@import url("https://fonts.googleapis.com/css?family=Lato");
*{
  padding: 0;
  margin: 0;
}
html{
  font-size: 16px;
  font-family: Lato;
}
@media (min-width: 350px) and (max-width: 500px)
{
  main{
    width: 100vw;
    height: 50vw;
  }
  h1{
    font-size: 2em;
    padding: 41px;
  }
  .login-screen {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*! height: 50vw; */
    border-top: 15px solid #1BA39C;
    /*! position: relative; */
    /*! top: 10px; */
  }
  .input-div{
    width: 98vw;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .input-div input {
    width: 80%;
    height: 6vh;
    text-align: center;
    font-size: 1em;
    padding: 8px;
    background-color: #eee;
    border: none;
  }
  .input-div button{
    width: 83vw;
    height: 6vh;
    background: #1BA39C;
    border: none;
    color: #fff;
    font-size: 15px;
  }
  .input-div p{
    padding: 8px;
  }
  
}
main{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6C7A89;
  }
  h1{
    font-size: 2em;
    padding: 41px;
  }
  .login-screen {
    width: 25vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 10px solid #1BA39C;
    background: #fff;
  }
  .input-div{
    width: 25vw;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .input-div input {
    width: 80%;
    height: 6vh;
    text-align: center;
    font-size: 1em;
    padding: 8px;
    background-color: #eee;
    border: none;
  }
  .input-div button{
    width: 21vw;
    height: 6vh;
    background: #1BA39C;
    border: none;
    color: #fff;
    font-size: 15px;
  }
  .input-div p{
    padding: 8px;
  }
  